apiVersion: v1
kind: Pod
metadata:
  name: cuda-vector-add
spec:
  restartPolicy: OnFailure
  containers:
    - name: cuda-vector-add
      # https://github.com/fmoctezuma/kubeadm-TeslaGPU/blob/master/cuda-vector-add/Dockerfile
      # original image: "k8s.gcr.io/cuda-vector-add:v0.1"i
      image: "yazpik/cuda-vectoradd"
      resources:
        limits:
          nvidia.com/gpu: 1 # requesting 1 GPU
